.newPost {
    /* background-color: chartreuse; */
    padding-top: 3.5rem;
}

.newPost-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    /* background-color: rgba(204, 50, 50, 0.589); */
    padding: 2rem ;
}

.imgpreview {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* margin-top: 10px; */
}

.imgPreview-newpost {
    width: 30rem;
    border-radius: 10px;
    height: 30rem;
    /* background-color: aqua; */
}

.newPost-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    /* background-color: red; */
    box-shadow: 0 0 10px 1px rgba(185, 185, 185, 0.808);
    height: 30rem;
    width: 30rem;
}

.newpost-file {
    margin: 2rem 0;
}

.newpost-uplod-file-btn {
    display: none;
}
.newpost-file-btn {
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    border-radius: 6px;
    background-color: blue;
}
.newpost-file-btn:hover {
    background-color: navy;
}

.newpost-title {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.IMGtitle {
    font-size: x-large;
}

.IMG-title-input {
    border: none;
    outline: none;
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid darkgray;
    font-size: larger;
}
.IMG-title-input:focus {
    box-shadow: 0 0 10px 1px rgba(185, 185, 185, 0.808);
}

.uploadpost {
    font-size: larger;
    padding: 6px 20px;
    background-color: transparent;
    border: none;
    border: 2px solid blue;
    cursor: pointer;
    color: blue;
    font-weight: 500;
}
.uploadpost:hover {
    color: white;
    background-color: blue;
    border-radius: 6px;
    /* border: none; */
    /* border: 2px soild navy; */
}