.home {
    /* background-color: rgba(0, 255, 255, 0.205); */
    box-sizing: border-box;
    padding: 0  ;
    display: flex;
    z-index: 0;
            /* display: grid;
            grid-template-columns: 2.1fr 1fr; */
    /* flex-direction: row; */
    /* align-items: center; */
    
    /* justify-content: center; */
}


/* *********************************************** */

.home-post-container {
    margin-top: 2rem;
    padding: 1rem ;
    margin-left: 35%;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    z-index: 1;
    flex-wrap: wrap;
    left: 26.4%;
    /* margin-left: 19rem; */
    /* margin-left: 2rem; */
    /* background-color: rgba(165, 42, 42, 0.185); */
    gap: 30px;
    /* background-color: aquamarine; */
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
}

.home-container {
    /* width: 100vw; */
    /* background-color: rgba(137, 43, 226, 0.288); */
    display: flex;
    
    gap: 30px;
    /* align-items: center; */
    /* justify-content: space-between; */
}

/* ************************************* */


@media screen and (min-width : 300px) and (max-width: 1024px) {
    
    .profile-short {
        display: none;
    }
    .fc {
        display: none;
    }
    .home-post-container {
        /* padding-top: 17rem; */
        width: 100%;
        margin-left: 0;
        left: 0;
    }
    .post {
        max-width: 100%;
    }
}