.profile-page {
    padding-top: 3.4rem;
    width: 100%;
    height: 100%;
}

.profile {
    padding: 40px;
    /* margin: 20px; */
    border-radius: 20px;
    background-color: rgba(252, 252, 252, 0.548);
}

.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.profile-intro {
    display: flex;
    gap: 5rem;
    /* flex-direction: column; */
}

.profile-name {
    font-size: 4rem;
}

.profile-tagline {
    font-size: 1.2rem;
}



.follow-info {
    margin-top: 1rem;
    font-size: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

.profile-followers {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-following {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-posts {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 2px rgba(230, 230, 230, 0.685);
    border-radius: 2rem;
    margin-top: 3rem;
    padding: 2rem 0;
}

.posts-title {
    margin: 2rem 5rem;
    font-size: 2rem;
}

.posts-grid {
    align-items: center;
    justify-content: center;
    gap: 1rem;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.edit-logo {
    color: black;
    font-size: larger;
}

.update-link {
    padding: 0 1rem;
    color: black;
    padding: 5px 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.update-link:hover {
    background-color: rgba(169, 169, 169, 0.658);
}

.new-post {
    /* font-size: larger; */
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.new-post:hover {
    background-color: rgba(169, 169, 169, 0.658);
    border-radius: 10px;
}

.new-post>span {
    font-size: 2.1rem;
}


@media screen and (max-width : 360px) and (max-width: 1024px) {
    .profile{
        text-align: center;
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
        flex-direction: column;
    }
    .profile-intro {
        
        display: flex;
                    align-items: center;
                    justify-content: center;
        flex-direction: column !important;
                    
    }
    .follow-info {
        display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        
    }
    .posts-grid {
            display: flex;
                flex-direction: column;
    }
    .profile-post-card {
        width: 100%;
    }
    
}